<div class="container-fluid" style="width:40%">
<ul class="list-group">
  <li class="list-group-item">
  	Total Number of hosts/domains encountered :
    <span class="label label-default label-pill pull-xs-right">{{numberOfHosts}}</span>
  </li>
  <li class="list-group-item">
  	Total Number of pages crawled :
    <span class="label label-default label-pill pull-xs-right">{{numberOfPages}}</span>
  </li>
  <li class="list-group-item">
  	Total Number of Unique words :
    <span class="label label-default label-pill pull-xs-right">{{numberOfWords}}</span>
  </li>
</ul>
</div> 